extends loggedin_layout
append vars
    - var pagetitle = "Add a movement"
append content
    p(
        id!= "addmovementhint"
    ) Add a movement here. It'll be displayed in all your devices! <br>Positive number: you lent money. Negative number: your friend loaned you money
    if addMessage
        p(
            id!= "addmovementerror"
        )= addMessage
    form(
        method!="post"
        action="/users/add"
        id!="addmovementform"
    )
        label!='Title'
        input(
            name!='title'
            required!="true"
            maxlength!="50"
            value= mov_title ? mov_title : ''
        )
        label!='Value (&euro; / $ / your currency)'
        input(
            name!='value'
            type!="number"
            required!="true"
            step!="0.01"
            value= mov_value ? mov_value : '0'
        )
        label!="Friend name"
        input(
            name!="subject"
            required!="true"
            maxlength!="30"
            value= mov_subject ? mov_subject : ''
        )
        input(
            name!='_csrf'
            value!=csrfToken
            type!='hidden'
        )
        input(
            type='submit'
            value='Add movement'
        )