extends layout
block vars
    - var pagetitle = "Add user form"
block content
    if addMessage
        p!= addMessage

    form(
        method!='post'
        action!='./adduser'
        id!='regform'
    )
        label!='Username'
        input(
            name!='username'
            value= username ? username : ''
        )
        br
        label!='Password'
        input(
            name!='password'
            value= password ? password : ''
        )
        br
        label!='Nome'
        input(
            name!='name'
            value= name ? name : ''
        )
        br
        label!='Cognome'
        input(
            name!='surname'
            value= surname ? surname : ''
        )
        br

        input(
            type='submit'
            value='Registra'
        )