extends layout
block vars
    - var pagetitle = "Administrative panel"
block content
    h1= ""
    nav
        ul
            li
                a(
                    href="../administration/dbcreate"
                )= "Crea database"
            li
                a(
                    href="../administration/dbdelete"
                )= "Elimina database"
            li
                a(
                    href="../administration/dbconnect"
                )= "Connetti database"
            li
                a(
                    href="../administration/dbexists"
                )= "Controlla esistenza database"
            li
                a(
                    href="../administration/adduser"
                )= "Aggiungi utente"
            li
                form(
                    method= "get"
                    action= "../administration/hashthis"
                )
                    input(
                        type= "text"
                        name= "password"
                    )
                    input(
                        type= "submit"
                        value= "Hash password"
                    )