mixin movement(mov_title,mov_date,mov_target_name,mov_value,mov_timestamp)
    article.movement
        section.movement_overview_group
            section.movement_badge
                span.movement_title=mov_title
                span.movement_date=mov_date
            div.movement_badge_details_separator
            section.movement_details
                span.movement_target_name=mov_target_name
                span.movement_value!=mov_value + '&euro;'
        section.movement_options
            a.movement_done_button(
                data-timestamp=mov_timestamp
                data-currentvalue=mov_value
                href!="#"
            )
                img(
                    src="/images/done_icon.png"
                )
                span="Set as completed"
            a.movement_edit_button(
                href!="/users/edit?time=" + encodeURIComponent(mov_timestamp)
            )
                img(
                src="/images/edit_icon.png"
                )
                span="Edit"
mixin done_movement(mov_title,mov_date,mov_target_name,mov_value,mov_timestamp)
    article.movement
        section.movement_overview_group
            section.movement_badge
                span.movement_title=mov_title
                span.movement_date=mov_date
            div.movement_badge_details_separator
            section.movement_details
                span.movement_target_name=mov_target_name
                span.movement_value!=mov_value + '&euro;'
        section(
            class!="movement_options movement_undone_options"
        )
            a.movement_undone_button(
                data-timestamp=mov_timestamp
                data-currentvalue=mov_value
                href!="#"
            )
                img(
                src="/images/done_icon.png"
                )
                span="Unset done"
mixin payment(pay_date,pay_value)
    article.payment
        span.payment_date=pay_date
        span.payment_value!=pay_value + '&euro;'