extends layout
block vars
    - pagetitle = "Welcome to the Debts Manager";
block content
    section(
    id= "indexdescription"
    )
        p Debts manager helps you to keep track of the money you have lent to your friends
        p It's simple and synchronizes changes across your devices
        p Register now and start using it in your browser and Windows Phone 8 app!
    section(
    id= "indexloginregister"
    )
        a(href!='./registration') Register
        p!="Or...Login now<br>Just type your username and password here"
        form(
            method!='post'
            id= "indexloginform"
            action!='./users/login'
        )
            label!='Username'
            input(
                placeholder= "Your username"
                name!='username'
                value= username ? username : ''
            )
            label(
                class= "passwordlabel"
            )!='Password'
            input(
                placeholder= "Your password"
                type!='password'
                name!='password'
                value= ''
            )
            input(
                name!='_csrf'
                value!=csrfToken
                type!='hidden'
            )
            input(
                type='submit'
                value='Login'
            )