doctype html
block vars
html
    head
        title= def.apptitle + ' - ' + title
        block scripts
            script(
                type!='text/javascript'
            )!= 'var APP = {};'
        block css
            link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            a(
                href!='/'
            )
                h1= def.apptitle
            if pagetitle
                h2= pagetitle
        block asides
        article(
            id!="content"
            class!=(contentClass ? contentClass : "default_content_class")
        )
            block content
        block footers
            footer
                p
                    span A Lorenzo Pellegrini project, all rights reserved -
                    a(
                        href!='https://www.iconfinder.com/iconsets/freeline'
                    ) Icon pack: freeline, distributed under CC BY 3.0, created by Enes Dal