extends layout
append scripts
    script(
        src!="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
    )
append vars
    - var contentClass = "loggedin_content_class"
block asides
    aside(
        id!= 'loggedin_aside'
        class!=(loggedinAsideClass ? loggedinAsideClass : 'default_loggedin_class')
    )
        section(
            id!= 'loggedin_user_badge'
        )
            //- #loggedin_user_badge p
            p
                span.user_name_text=user_name
                span.user_name_surname_separator!=" "
                span.user_surnname_text=user_surname
                span.user_surname_username_separator!=" "
                span.user_username_text=username
        nav(
            id!= 'loggedin_menu'
        )
            a(
                href!= '/users/personal'
            )
                img(
                src!= '/images/home_icon.png'
                )
                span Home
            a(
                href!= '/users/add'
            )
                img(
                    src!= '/images/add_icon.png'
                )
                span Add movement
            a(
                href!= '/users/done'
            )
                img(
                    src!= '/images/archive_icon.png'
                )
                span Closed movements
            a(
                href!= '/users/logout'
            )
                img(
                    src!= '/images/logout_icon.png'
                )
                span Exit