extends layout
block vars
    - var pagetitle = "Debts Manager login form"
block content
    p(
        id!='login_hint'
    ) Enter your username and password
    if loginMessage
        p(
            id!='login_message'
        )= loginMessage
    form(
    method!='post'
    action!='/users/login'
    id!='loginform'
    )
        label!='Username'
        input(
        name!='username'
        value= username ? username : ''
        )
        label!='Password'
        input(
        type!='password'
        name!='password'
        value= ''
        )
        input(
        name!='_csrf'
        value!=csrfToken
        type!='hidden'
        )
        input(
        type='submit'
        value='Login'
        )