extends loggedin_layout
include common_mixins
append vars
    - var pagetitle = "Movement edit"
append css
    link(rel='stylesheet', href='/stylesheets/movement_style.css')
append content
    section(
        id!= "movement_edit_actual"
    )
        span(
            id!= "movement_edit_subject"
        )= movement.SubjectName
        span(
            id!= "movement_edit_current_value"
        )!= movement.CurrentValue + '&euro;'
        span(
            id!= "movement_edit_time"
        )= time_human_format_no_sec(movement.Timestamp)
    p(
        id!= "addmovementedithint"
    ) Add a payment. Positive number: you gave money. Negative number: your friend gave you money
    if editMessage
        p(
            id!= "editmovementerror"
        )= editMessage
    form(
        method!="post"
        action="/users/edit/do"
        id!="editmovementform"
    )
        label!='Value (&euro; / $ / your currency)'
        input(
            name!='value'
            type!="number"
            required!="true"
            step!="0.01"
            value= mov_value ? mov_value : '0'
        )
        input(
            name!='_csrf'
            value!=csrfToken
            type!='hidden'
        )
        input(
            type!='hidden'
            name!='time'
            value=movement.Timestamp
        )
        input(
            type='submit'
            value='Add payment'
        )
    h3(
        id!= "movement_edit_previous"
    ) Previous payments
    -
        for (var i = 0; i < payments.length; i++) {
            payments[i].time_string = time_human_format_no_sec(payments[i].Timestamp);
        }
    if payments.length
        each payment_entry in payments
            +payment(payment_entry.time_string,payment_entry.Value)
    else
        p(
            id!= "movement_edit_no_previous_payments_hint"
        ) No previous payments found