extends loggedin_layout
include common_mixins
append vars
   - var pagetitle = "Personal page"
append css
    link(
        rel!="stylesheet"
        href!="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"
    )
    link(rel='stylesheet', href='/stylesheets/movement_style.css')
append scripts
    script(
        type!='text/javascript'
    )!= 'APP["username"] = "' + jsesc(username) + '";'
    script(
        type!='text/javascript'
        src!='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'
    )
    script(
        type!='text/javascript'
        src!='/javascripts/done_confirmation.js'
    )
append content
    p(
        id!='welcome_personal_page'
    )= "Welcome, " + user_name + " " + user_surname + ", to your personal page"
    -
        for (var i = 0; i < movements.length; i++) {
            movements[i].time_string = time_human_format_no_sec(movements[i].Timestamp);
        }
    each movement_entry in movements
        +movement(movement_entry.Title,movement_entry.time_string, movement_entry.SubjectName,movement_entry.CurrentValue,movement_entry.Timestamp)
    div(
        id="dialog-confirm-done"
        title="Set as done?"
    )
        p= "Do you really want to set this movement as done? "
            span(
                id!="movement_done_confirmation_not_zero_hint"
            ) This movement does not the value of 0!
    form(
        method!="post"
        action!="/users/setdone"
        id!="hiddensetdoneform"
    )
        input(
            name!='_csrf'
            value!=csrfToken
            type!='hidden'
        )
        input(
            type!='hidden'
            name!='time'
            value!=''
            id!="hiddensetdoneform_timeinput"
        )
        input(
            type!='hidden'
            name!='done'
            value!='1'
        )