extends layout
block vars
    - var pagetitle = "Registration form"
block content
    p(
        id!='registration_hint'
    ) Enter your personal info
    if addMessage
        p(
            id!='registration_message'
        )= addMessage
    form(
        method!='post'
        action!='./registration'
        id!='regform'
    )
        label='Username'
        input(
            name!='username'
            value= username ? username : ''
            required='true'
            minlength="4"
        )
        label='Password'
        input(
            type!='password'
            name!='password'
            minlength='8'
            value= password ? password : ''
            required='true'
        )
        label='Nome'
        input(
            name!='name'
            value= name ? name : ''
            required='true'
            minlength="2"
        )
        label='Cognome'
        input(
            name!='surname'
            value= surname ? surname : ''
            required='true'
            minlength="2"
        )
        label='Mail'
        input(
            type="email"
            name!='mail'
            value= mail ? mail : ''
            required="true"
        )
        input(
            name='_csrf'
             value!=csrfToken
            type!='hidden'
        )
        input(
            type='submit'
            value='Registra'
        )