.movement {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
    width: calc(100% - 45px);
    height: 150px;
    border: 2px solid blue;/* TODO: da cambiare */
    opacity: 10;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#278cbb+0,25acd9+36,25acd9+89,34b2d8+100,64c7e2+100 */
    background: #278cbb; /* Old browsers */
    background: -moz-linear-gradient(top,  #278cbb 0%, #25acd9 36%, #25acd9 89%, #34b2d8 100%, #64c7e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#278cbb), color-stop(36%,#25acd9), color-stop(89%,#25acd9), color-stop(100%,#34b2d8), color-stop(100%,#64c7e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #278cbb 0%,#25acd9 36%,#25acd9 89%,#34b2d8 100%,#64c7e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #278cbb 0%,#25acd9 36%,#25acd9 89%,#34b2d8 100%,#64c7e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #278cbb 0%,#25acd9 36%,#25acd9 89%,#34b2d8 100%,#64c7e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #278cbb 0%,#25acd9 36%,#25acd9 89%,#34b2d8 100%,#64c7e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278cbb', endColorstr='#64c7e2',GradientType=0 ); /* IE6-9 */

}

.movement_overview_group {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    min-width: 280px;
}

.movement_options {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-block;
    width: 25%;
    min-width: 231px;
    height: 100%;
    border-left: 1px solid black;/* TODO: da cambiare */
}

.movement_undone_options {
    min-width: 259px;
}

.movement_done_button span, .movement_edit_button span {
    display: inline-block;
    margin-top: 27px;
    font: 17px/1.2 "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    height: 21px;
    margin-left: 20px;
}

.movement_done_button, .movement_edit_button {
    display: inline-block;
    width: 100%;
    height: 75px;

    box-sizing: border-box;
}

.movement_done_button img, .movement_edit_button img {
    float: left;
    width: 56px;
    height: 56px;

    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 15px;
}

.movement_done_button {
    border-bottom: 1px solid black; /* TODO: da cambiare */
}

.movement_undone_button {
    display: inline-block;
    width: 100%;
    height: 150px;

    box-sizing: border-box;
}

.movement_undone_button span {
    display: inline-block;
    margin-top: 64px;
    font: 19px/1.2 "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    height: 23px;
    margin-left: 20px;
}

.movement_undone_button img {
    float: left;
    width: 112px;
    height: 112px;

    margin-top: 19px;
    margin-bottom: 19px;
    margin-left: 15px;
}

.movement_badge {
    display: block;
    width: 100%;
    height: 50px;
    position: relative;
}

.movement_badge_details_separator {
    display: block;
    width: calc(100% - 10px);
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px;
}

.movement_title {
    display: inline-block;
    position: absolute;
    left: 15px;
    bottom: 6px;
    font: 20px/1.2 "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.movement_date {
    display: inline-block;
    position: absolute;

    right: 20px;
    bottom: 4px;
    font-style: italic;
}

.movement_details {
    position: relative;
    height: 90px;
}

.movement_target_name {
    position: absolute;
    display: inline-block;
    font: 20px/1.2 "Lucida Grande", Helvetica, Arial, sans-serif;
    top: 33px;
    margin-bottom: 33px;
    left: 40px;
    height: 24px;
}

.movement_value {
    position: absolute;
    display: inline-block;
    font: 24px/1.2 "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    right: 40px;
    top: 30px;
    height: 29px;
}

.payment {
    display: block;
    width: 60%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
    margin-bottom: 10px;

    border: 2px solid blue;/* TODO: da cambiare */
    opacity: 10;
    overflow: hidden;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#278cbb+0,25acd9+36,25acd9+89,34b2d8+100,64c7e2+100 */
    background: #278cbb; /* Old browsers */
    background: -moz-linear-gradient(top,  #278cbb 0%, #25acd9 36%, #25acd9 89%, #34b2d8 100%, #64c7e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#278cbb), color-stop(36%,#25acd9), color-stop(89%,#25acd9), color-stop(100%,#34b2d8), color-stop(100%,#64c7e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #278cbb 0%,#25acd9 36%,#25acd9 89%,#34b2d8 100%,#64c7e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #278cbb 0%,#25acd9 36%,#25acd9 89%,#34b2d8 100%,#64c7e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #278cbb 0%,#25acd9 36%,#25acd9 89%,#34b2d8 100%,#64c7e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #278cbb 0%,#25acd9 36%,#25acd9 89%,#34b2d8 100%,#64c7e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278cbb', endColorstr='#64c7e2',GradientType=0 ); /* IE6-9 */
}

.payment .payment_date {
    display: inline-block;
    font: 17px/1.2 "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 21px;
    padding-top: 14px;
    padding-left: 15%;
}

.payment .payment_value {
    float: right;
    display: inline-block;
    font: 19px/1.2 "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    height: 23px;
    padding-top: 13px;
    padding-right: 20%;
}