body, h1, h2, h3, h4, h5, ul, li, ol, a, div, form, span, p, label, fieldset, input:not([type="submit"]),
header, footer, article, section, aside, nav {
    margin: 0;
    padding: 0;
    border: none;

    background: transparent;
    text-decoration: none;
}

ul, li, ol {
    list-style: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-top: 100px;
    width: 100%;
    height: calc(100% - 100px);
    min-width: 860px;
}

html {
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100px;
    background-color: #0066FF;
    z-index: 1;
    min-width: 900px;
}

header a {
    display: inline-block;
    height: 100%;
}

header h1 {
    width: auto;
    height: calc(100% - 14px);
    margin-left: 30px;
    margin-top: 14px;
    padding-right: 10px;

    font: 60px/1.2 "Lucida Grande", Helvetica, Arial, sans-serif;
    display: inline-block;
}

header h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;

    margin-right: 30px;

    font: 40px/1.2 "Lucida Grande", Helvetica, Arial, sans-serif;
    display: inline-block;
}

#content {
    width: 100%;
    min-height: 100%;
    display: block;
}

#content.default_content_class {
}

#content.loggedin_content_class {
    width: calc(100% - 260px);
    margin-left: 260px;
}

#loggedin_aside {
    position: fixed;
    left: 0;
    top: 100px;
    width: 250px;
    height: 100%;

    border-right: 1px solid #33CCFF;
}

#loggedin_user_badge p {
    text-align: center;
    margin: 0 auto;
    padding: 20px 5px;
    border-bottom: 3px groove #33CCFF;

    font: 20px/1.2 "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#loggedin_user_badge p .user_surname_username_separator {
    width: 10px;
}

#loggedin_user_badge p .user_username_text {
    /*display: block;*/

    font: 14px/1.2  "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

#loggedin_user_badge p .user_username_text:before {
    content: "(";
}

#loggedin_user_badge p .user_username_text:after {
    content: ")";
}

#loggedin_menu a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    text-align: right;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

#loggedin_menu a:hover  {
    border-top: 1px solid #99CCFF;
    border-bottom: 1px solid #99CCFF;
}

#loggedin_menu a:first-child:hover  {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #99CCFF;
}

#loggedin_menu a:last-child:hover  {
    border-top: 1px solid #99CCFF;
    border-bottom: 1px solid transparent;
}

#loggedin_menu a span {
    float: right;
    display: inline-block;
    font: 17px/1.2 "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-right: 18px;
    height: 21px;

    margin-top: 5px;
    margin-bottom: 4px;
}

#loggedin_menu a img {
    float: right;
    width: 30px;
    height: 30px;
}

#indexdescription {
    display: block;

    width: 100%;
    height: auto;

    text-align: center;

    font: 20px Helvetica, Arial, sans-serif;
}

#indexdescription p {
    padding-top: 10px;
}

#indexloginregister {
    margin: 60px auto;
    display: block;
    text-align: center;
    width: 430px;
    height: auto;


    border: 1px solid #0066FF;
    box-shadow: inset 0 0 20px 0 #0066FF;
    border-radius: 20px;
}
#indexloginregister p {
    margin: 10px auto;
    text-align: center;

    font-size: 16px;
    border-top: 5px groove #33CCFF;
    padding-top: 10px;
}

#indexloginregister a, #indexloginform input[type="submit"] {
    background-color: transparent;
    display: block;
    text-align: center;
    color: black;

    height: 24px;
    width: 80%;

    margin: 20px auto;

    border: 3px solid #33CCFF;
    border-radius: 10px;

    font: 20px/1.2 Helvetica, Arial, sans-serif;
    padding: 6px 0;
}

#indexloginform input[type="submit"] {
    box-sizing: content-box;
    width: 100%;
}

#indexloginform {
    display: block;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
}

#indexloginform label {
    display: block;
    width: 100%;
    margin: 2px auto;
    text-align: center;
    color: black;

    font: 18px/1.2 Helvetica, Arial, sans-serif;
}

#indexloginform .passwordlabel {
    margin-top: 20px;
}

#indexloginform input:not([type="submit"]) {
    display: block;
    width: 90%;
    height: 22px;
    text-align: center;
    color: black;

    font: 16px/1.2 Helvetica, Arial, sans-serif;
    border: 1px solid grey;
    margin: 2px auto;

    border-radius: 10px;
}

#indexloginform input:not([type="submit"]):focus {
    border: 2px solid grey;
}

#registration_hint, #login_hint {
    display: block;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;
}

#regform, #loginform {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: auto;
}

#regform label, #loginform label {
    display: inline-block;
    text-align: right;
    width: 180px;

    margin-bottom: 20px;

    font: 15px/1.2 Helvetica, Arial, sans-serif;
    height: 18px;
    padding: 1px 0;
}

#regform input:not([type="submit"]), #loginform input:not([type="submit"]) {
    box-sizing: border-box;
    display: inline-block;
    width: 220px;
    height: 24px;

    padding: 1px 1px 1px 10px;

    color: black;

    font: 16px/1.2 Helvetica, Arial, sans-serif;
    border: 1px solid grey;
    margin-bottom: 20px;
    margin-left: 50px;

    border-radius: 10px;
}

#regform input[type="submit"], #loginform input[type="submit"] {
    float: right;
    margin: 0;
}

footer {
    display: block;
    font-size: 12px;
    width: 100%;
    height: auto;

    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    margin-top: 20px;
}

footer p {
    text-align: right;
    padding-right: 40px;
}

#addmovementhint {
    display: block;

    width: 100%;
    height: auto;

    text-align: center;
    padding-top: 10px;

    font: 20px Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}

#addmovementform {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#addmovementform label {
    display: inline-block;
    box-sizing: border-box;
    width: calc(30% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#addmovementform input:not([type="submit"]) {
    display: inline-block;
    box-sizing: border-box;
    width: calc( 70% - 10px);
    margin-right: 10px;

    border: 1px solid grey;
    padding: 2px 2px 2px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#addmovementform input[type="submit"] {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}

#welcome_personal_page {
    padding-top: 5px;
}

#movement_edit_actual {
    display: block;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    border-bottom: 2px solid blue;
}

#movement_edit_subject {
    padding-left: 100px;
    padding-right: 70px;
    font: 20px/1.2 Helvetica, Arial, sans-serif;
    font-style: italic;
}

#movement_edit_current_value {
    padding-right: 100px;
    font: 22px/1.2 "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#movement_edit_time {

}

#addmovementedithint {
    width: auto;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

#editmovementform {
    overflow: hidden;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#editmovementform label {
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
}

#editmovementform  input:not([type="submit"]) {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 50px;

    width: 236px;
    margin-bottom: 20px;
    padding: 2px 2px 2px 10px;
}

#editmovementform input[type="submit"] {
    float: right;
}

#movement_edit_previous {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#movement_edit_no_previous_payments_hint {
    text-align: center;
}

#hiddensetdoneform, #hiddensetundoneform {
    display: none;
}

#registration_message, #login_message {
    padding: 5px 0 10px 30px;
    font-style: italic;
}